.popup__buttom {
  padding: 0;
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  margin-top: 18px;
}

.popup__buttom:hover {
  opacity: 0.8;
}

@media screen and (max-width: 560px) {
  .popup__buttom {
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    height: 46px;
  }
}
