.elements__vector {
  width: 22px;
  height: 19px;
  background-image: url("../../../images/Vector3.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  background-color: white;
  cursor: pointer;
}

.elements__vector:hover {
  opacity: 0.5;
}

