@import url('./vendor/normalize.css');
@import url('./vendor/fonts.css');
@import url('./blocks/body/body.css');
@import url('./blocks/page/page.css');
/*header*/
@import url('./blocks/header/header.css');
@import url('./blocks/header/__image/header__image.css');
@import url('./blocks/header/__title/header__title.css');
@import url('./blocks/header/__list/header__list.css');
@import url('./blocks/header/__title/_user/header__title_user.css');
/*profile*/
@import url('./blocks/profile/__button/profile__button.css');
@import url('./blocks/profile/__image/profile__image.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__subtitle/profile__subtitle.css');
@import url('./blocks/profile/__title/profile__title.css');
@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__edit-button/profile__edit-button.css');
@import url('./blocks/profile/__info-blocks/profile__info-blocks.css');
@import url('./blocks/profile/__edit-avatar/profile__edit-avatar.css');
/*elements*/
@import url('./blocks/elements/elements.css');
@import url('./blocks/elements/__group/elements__group.css');
@import url('./blocks/elements/__image/elements__image.css');
@import url('./blocks/elements/__title/elements__title.css');
@import url('./blocks/elements/__vector/elements__vector.css');
@import url('./blocks/elements/__vector/elements__vector-active.css');
@import url('./blocks/elements/__group-text/elements__group-text.css');
@import url('./blocks/elements/__button-delete/elements__button-delete.css');
@import url('./blocks/elements/__count-likes/elements__count-likes.css');
@import url('./blocks/elements/__button-delete/_none/elements__button-delete_none.css');
/*footer*/
@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__copyright/footer__copyright.css');
/*popup*/
@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/__buttom-close/popup__buttom-close.css');
@import url('./blocks/popup/__buttom/popup__buttom.css');
@import url('./blocks/popup/__title/popup__title.css');
@import url('./blocks/popup/__form/popup__form.css');
@import url('./blocks/popup/__item/popup__item.css');
@import url('./blocks/popup/_opened/popup_opened.css');
@import url('./blocks/popup/_image-card/popup_image-card.css');
@import url('./blocks/popup/__content/popup__content.css');
@import url('./blocks/popup/__place/popup__place.css');
@import url('./blocks/popup/__image/popup__image.css');
@import url('./blocks/popup/__input_type_error/popup__input_type_error.css');
@import url('./blocks/popup/__text-error/popup__text-error.css');
@import url('./blocks/popup/__button_disabled/popup__button_disabled.css');
@import url('./blocks/popup/__form/popup__form.css');
@import url('./blocks/popup/__image-true/popup__image-true.css');
@import url('./blocks/popup/__title/_true/popup__title_true.css');
/*container*/
@import url('blocks/container/container.css');
@import url('blocks/container/__header/container__header.css');
@import url('blocks/container/__title/container__title.css');
@import url('blocks/container/__login-link/container__login-link.css');
/*form*/
@import url('blocks/form/form.css');
@import url('blocks/form/__input/form__input.css');
@import url('blocks/form/__submit-button/form__submit-button.css');


